    @OnEnterState
    public void onEnter{{state}}({{ code }} {{ lowerCode }}, EventContext<{{ code }}.Profile> eventContext) {
        //{{ lowerCode }}.setCurrentActionProfiles({{ code }}.Profile.);
    }
