<?xml version="1.0"?>
<datos>
    <tiposExpedientes>
        <tipoExpediente code="{{tipoExpediente.code}}" name="{{tipoExpediente.name}}"  tramite="{{tipoExpediente.tramite}}"  basePackageName="{{tipoExpediente.basePackageName}}"  />
    </tiposExpedientes>



</datos>
