<?xml version="1.0"?>
<datos>
    <tramites>
        <tramite code="{{ escapeXml(input=tramite.code) }}" defaultTipoExpediente="{{ escapeXml(input=tramite.defaultTipoExpedienteCode) }}" />
    </tramites>
</datos>
