<?xml version="1.0"?>
<xml-inputs xmlns="http://axelor.com/xml/ns/data-import"
            xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xsi:schemaLocation="http://axelor.com/xml/ns/data-import
  https://axelor.com/xml/ns/data-import/data-import_8.0.xsd">




    <input file="{{tipoExpediente.code}}-data.xml" root="datos">
        <bind node="tiposExpedientes/tipoExpediente" type="com.educaflow.subsystem.expedientes.db.TipoExpediente" search="self.code = :code"  create="true" update="true">
            <bind node="@code" to="code" />
            <bind node="@name" to="name" />
            <bind node="@tramite" to="tramite" search="self.code = :tramite"   />
            <!--
                El paquete de la carpeta de versión del tipo de expediente. De él cuelga un paquete
                por fase, así que con el codePhase del expediente basta para localizar en runtime el
                PhaseEventManager y el StateEventValidator, y de él cuelga también la clase States que
                genera el build. Se reescribe en cada arranque, de modo que mover la carpeta del tipo
                se corrige solo.
            -->
            <bind node="@basePackageName" to="basePackageName" />

        </bind>


    </input>

</xml-inputs>

