package {{packageName}};

import com.axelor.inject.Beans;
import com.educaflow.subsystem.expedientes.services.eventmanager.EventContext;
import com.educaflow.subsystem.expedientes.services.eventmanager.OnEnterState;
import com.educaflow.subsystem.expedientes.services.eventmanager.WhenEvent;
import com.educaflow.subsystem.expedientes.db.{{ code }};
import com.educaflow.subsystem.expedientes.db.repo.{{ code }}Repository;
import com.educaflow.base.infrastructure.validation.messages.BusinessException;
import {{ basePackageName }}.States;

import com.google.inject.Inject;
import org.slf4j.Logger;
import org.slf4j.LoggerFactory;


public class {{phaseEventManagerClassName}} extends com.educaflow.subsystem.expedientes.services.eventmanager.PhaseEventManager<{{ code }}> {

    private final {{ code }}Repository repository;
    protected final Logger log = LoggerFactory.getLogger(getClass());

    @Inject
    public {{phaseEventManagerClassName}}({{ code }}Repository repository) {
        super({{ code }}.class);
        this.repository = repository;
    }


{% for event in caseEvents %}{% include "phase-event-manager-trigger-method.template" %}{% endfor %}


/***************************************************************************************/
/*************************************** Estados ***************************************/
/***************************************************************************************/

{% for state in caseStates %}{% include "phase-event-manager-onenter-method.template" %}{% endfor %}
}
