    @WhenEvent
    public void trigger{{event}}({{ code }} {{ lowerCode }}, {{ code }} original, EventContext eventContext) throws BusinessException {
        //eventContext.updateState(States.{{ faseUpperCamelCase }}.);
    }
